@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Fredoka+One&family=Handlee&display=swap');

/*
font-family: 'Andika New Basic', sans-serif;  ==> CONTENT
font-family: 'Fredoka One', cursive;          ==> HEADINGS
font-family: 'Handlee', cursive;              ==> ABOUT PAGE / BUTTONS
 */

/* ------------------------------------------------------Common styles */

html,
body {
    position: relative;
    margin: 0;
    font-family: "Andika New Basic", sans-serif;
    font-size: 1rem;
}

p {
    max-width: 60ch;
}

ul {
    max-width: 60ch;
}

/* Display */

.hide {
    display: none;
}

.show {
    display: block;
}

/* Headings */

.heading {
    text-align: center;
    font-family: "Fredoka One", cursive;
    font-size: 2rem;
    letter-spacing: 0.03rem;
}

/* Buttons */


/* Takes off the browser built-in outline (chrome)  */
:focus {
    outline: none;
}

.buttons {
    display: block;
    font-family: "Handlee", cursive;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 0.9em 2.5em 0.9em 0.5em;
    margin: 1.5em auto;
    width: 130px;
    border: 3px solid black;
    border-radius: 20px;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 80%;
    transition-duration: 350ms;
    -o-transition-duration: 350ms;
    -ms-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -webkit-transition-duration: 350ms;
    transition-property: transform;
    -o-transition-property: transform;
    -ms-transition-property: transform;
    -moz-transition-property: transform;
    -webkit-transition-property: transform;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -ms-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.buttons:hover {
    transform: rotate(-10deg);
}

.about-button {
    background-color: #0da80e;
}

.about-button:focus {
    box-shadow:
    0 0 0 6px white,
    0 0 0 9px #0da80e,
    0 0 0 12px black;
}

.study-button {
    background-color: #f57400;
}

.study-button:focus {
    box-shadow:
    0 0 0 6px white,
    0 0 0 9px #f57400,
    0 0 0 12px black;
}

.play-button {
    background-color: #d9cb11;
}

.play-button:focus {
    box-shadow:
    0 0 0 6px white,
    0 0 0 9px #d9cb11,
    0 0 0 12px black;
}

.contact-button {
    font-family: "Handlee", cursive;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #d91e2e;
    color: black;
    padding: 0.4em;
    margin: 1.5em;
    border: 2px solid black;
    border-radius: 10px;
}

.contact-button:focus {
    box-shadow:
    0 0 0 3px white,
    0 0 0 6px #d91e2e,
    0 0 0 9px black;
}

.contact-button:hover {
    background-color: black;
    color: #d91e2e;
    border: 2px  solid #d91e2e;
}

/* Subjects Icons (buttons) */

.subjects-buttons {
    position: relative;
    margin: 2em;
    padding: 0.8em;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #fcfcfc;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

    transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-property: transform, box-shadow;
    -o-transition-property: transform, box-shadow;
    -ms-transition-property: transform, box-shadow;
    -moz-transition-property: transform, box-shadow;
    -webkit-transition-property: transform, box-shadow;
}

.subjects-buttons:focus {
    background-color: #d91e2e;
}

.subjects-buttons:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
}

.volcano-button::after,
.jungle-button::after,
.ocean-button::after,
.earth-button::after {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    /* Might need prefix for cross browser support */
    margin-top: 0.3em;
    font-family: "Handlee", cursive;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
}

.volcano-button::after {
    content: "Volcano";
}

.jungle-button::after {
    content: "Jungle";
}

.ocean-button::after {
    content: "Ocean";
}

.earth-button::after {
    content: "Earth";
}


/* ------------------------------------------------------Navigation */

.logo img  {
    margin: 16px;
    box-sizing: border-box; /* Sets a border that doesn't display in order to have a round shaped border without adjusting the image */
    border: 0px solid;
    border-radius: 50%;
}

.logo:focus img {
    box-shadow:
    0 0 0 6px white,
    0 0 0 9px black;
}
.logo:hover img {
    box-shadow: 0 0 10px 0 black;
}

.menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #d9cb11;
    cursor: pointer;

    transition-duration: 350ms;
    -o-transition-duration: 350ms;
    -ms-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -webkit-transition-duration: 350ms;
    transition-property: background-color;
    -o-transition-property: background-color;
    -ms-transition-property: background-color;
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
}

.menu-icon:focus {
    box-shadow:
    0 0 0 6px white,
    0 0 0 9px black;
}

.menu-icon:hover {
    background-color: #9941bf;
}

.menu-icon:hover .menu-text {
    color: #d9cb11;
}

.menu-text {
    position: relative;
    top: -12px;
    color: #9941bf;
    font-family: "Fredoka One", cursive;
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
}

/* ------------------------------------------------------Footer */

.footer {
    position: relative;
    height: 40px;
    bottom: 0;
    width: 100%;
    margin: 0.3em 0 0 ;
    background-color: #d9cb11b3;
}

.copyright,
.footer-links {
    position: absolute;
    display: inline-block;
    padding: 0.3em;
}

.copyright {
    left: 10%;
    top: 50%;
    transform: translateY(-55%);
    font-size: 0.7rem;
}

.footer-links {
    right: 10%;
    font-size: 1rem;
}

.footer-links a {
    text-decoration: none;
    margin-left: 0.6em;
    color: #9941bf;
}

.footer-links i {
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    line-height: 1.8em;
    text-align: center;
    transition-duration: 350ms;
    -o-transition-duration: 350ms;
    -ms-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -webkit-transition-duration: 350ms;
    transition-property: background-color, color;
    -o-transition-property: background-color, color;
    -ms-transition-property: background-color, color;
    -moz-transition-property: background-color, color;
    -webkit-transition-property: background-color, color;
}

.footer-links a:focus i {
    box-shadow:
    0 0 0 2px white,
    0 0 0 4px black;
}

.footer-links a:hover i {
    background-color: #9941bf;
    color: #d9cb11;
}

/* ------------------------------------------------------Home page */
/* Heading */

.home-heading {
    margin-bottom: 0px;
    font-size: 3rem;
}

.home-heading + span {
    margin-top: 0.3em;
    font-size: 1.6rem;
}

/* Section */

.home-section {
    margin-bottom: 6em;
}

.statement {
    text-align: center;
    font-family: "Handlee", cursive;
    font-size: 1.5rem;
    margin-top: 6rem;
}

/* ------------------------------------------------------About page */

.about-section {
    margin: 3em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about-section p {
    margin: 2em;
    text-align: left;
}

.about-buttons {
    display: inline-block;
    padding: 0.3em 1em 0.3em 0;
    margin: 0.5em 3em;
}

/* ------------------------------------------------------Study page */

/* Subtitle section */

.study-explanations {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.study-explanations p {
    font-size: 1.8rem;
    margin-bottom: 0.5em;
}

.study-explanations span {
    font-size: 1rem;
    margin-top: 0;
}

.magnifier {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 2em;
}

.magnifier i {
    font-size: 1rem;
    background-color: #3A8BE980;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 30px;

    transition-duration: 350ms;
    -o-transition-duration: 350ms;
    -ms-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -webkit-transition-duration: 350ms;
    transition-property: background-color;
    -o-transition-property: background-color;
    -ms-transition-property: background-color;
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
}

.magnifier:focus i {
    box-shadow: 0 0 0 2px black;
    background-color: #3a8be9;
}

.magnifier:hover i{
    background-color: #3a8be9;
}

/* Subjects icons section */

.subjects-section {
    text-align: center;
}

/* Subject Content */

.subject-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subject-content {
    margin: 6em 12em;
    padding: 3em;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #fcfcfc;
}

.subject-content h5 {
    position: relative;
    font-size: 1.1rem;
    margin: 4em 2em 1em;
    text-transform: uppercase;
    text-decoration: underline;
}

.subject-content h5::before {
    content: "";
    height: 2px;
    width: 40%;
    border-top: 2px outset #d91e2e40;
    position: absolute;
    top: -2em;
    left: 30%;
}

.subject-content h6 {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2em;
}

.subject-content h6::before {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: -1em;
}

.subject-content p {
    margin: 2em auto;
}

.subject-content ul span {
    font-size: 1rem;
    text-decoration: underline;
}

.subject-content li {
    margin: 1em;
}

.images-container {
    text-align: center;
    max-width: 100%;
}